$color-primary: #FF6060;
$color-secondary: #FF6161;
$color-secondary-dark: darken($color-secondary, 20%);


$breakpoints: (
    mobile: 576px,
    tablet: 768px,
    laptop: 992px,
    desktop: 1355px,
);