a {
    @include desktop {
        width: 30%;
    }
    .card {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        width: 310px;
        height: 210px;
        background: linear-gradient(180deg, $color-primary 0%,  $color-secondary 100%);
        border-radius: 10px;
        @include tablet {
            height: 310px;
            margin: 20px;
        }
        h2 {
            margin-left: 20px;
            font-size: 18px;
            color: white;
            position: absolute;
            bottom: 0px;
        }
    }
}