footer {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    background-color: black;
    color: white;
    .footer_logo {
        width: 72.5px;
        margin: 25px auto 25px auto;
    }
    p {
        font-size: 12px;
        margin-bottom: 25px;
        @include tablet {
            font-size: 18px;
        }
    }
}