header {
    margin: 2% 5% 0% 5%;
    display: flex;
    justify-content: space-between;
    ul {
        padding: 0px;
        display: flex;
        justify-content: space-between;
        li {
            margin: 5px;
            font-size: 14px;
            @include tablet {
                font-size: 18px;
            }
            .current_link {
                text-decoration: underline;
            }
            @include tablet {
                margin: 10px;
            }
        }
    }
    .marker {
        color: $color-primary;
    }
}